/*Group Selector: it can use combination of class, element, and ID*/
h1, h2{
    color:blueviolet;
}

/*Child Selector: parent > child 1 level deep only*/
.box > p{
    color:firebrick;
}

/*Descendant selector: ancestor[space]descendant use for 2 or more level deep*/
.box li{
    color:blue;
}

/*Chaining selector: ElementsElementsElements use for more specific*/
li.done{
    color:seagreen;
}

/*Combining Combiner: SelectorAncestor SelectorSelector use for targeting specific elements*/
ul p.done{
    font-size:2rem;
}
